version = 0.1

[default.deploy.parameters]
stack_name = "prueba1java-serverless"
resolve_s3 = true
s3_prefix = "prueba1java-serverless"
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
